<!DOCTYPE html>
{% load static %}
<html>
     <head>
        <title>Cloud Clipboard</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/main_page.css" %}"/>
     </head>
     <body>
     	<div class="container">
             <section class="fsec">
                <header>
                	 <div class="row">
                        <h1>
                            <a href="/login" class ="header-sprite">
                                   <img src="{% static "images/logo.png" %}">
                                  
                            </a> 
                        </h1>
                	 </div>
                </header>

             </section>
             <section class="ssec">
                  <div class="row">
                    <h2>One Clipboard</h2>
                  </div>
             </section>
     	</div>
     </body>
</html>